<h1 class="text-3xl font-bold">Create a character</h1>
<form [formGroup]="form">
    <app-step-indicator>
        <app-card-select *ngrxLet="ancestryCards$ as cards" [cards]="cards" controlName="ancestry" class="ancestry"></app-card-select>
        <app-card-select *ngrxLet="communityCards$ as cards" [cards]="cards" controlName="community" class="community-select"></app-card-select>
        <app-class-selection *ngrxLet="characterClasses$ as classes" [classes]="classes" class="cclass-select"></app-class-selection>
    </app-step-indicator>
</form>
<p>{{ form.value | json }}</p>